body{
    margin: 0;
    padding: 0;
    background: url(img/bg.jpg);
    background-size: cover no-repeat;
    background-position: center;
    font-family: sans-serif;
}

.box{
    width: 350px;
    height: 450px;
    background-image: linear-gradient(to bottom, rgb(235, 60, 205),rgb(68, 68, 247));
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 5em;
}

.logo{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
    background-color: #fff;
    
}

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 24px;
}

.box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.box input{
    width: 100%;
    margin-bottom: 20px;
}

.box input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background: transparent;
}

.box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: #470250;
    font-size: 18px;
    border-radius: 20px;
    color: #fff;
}

.box input[type="submit"]:hover{
    cursor: pointer;
    background: #031c49;
    color: rgb(231, 220, 220);
}

.box a{
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    color: rgb(202, 194, 194);
}

.box a:hover{
    color: #fff;
}



